@use "@/styles/variables.scss" as variables;

.sessionChartContainer {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  padding: 10px;
  border-radius: variables.$chart-border-radius;
}

