// src/styles/variables.scss

/**
 * SCSS variables for the application.
 * 
 * This file contains all the global variables used throughout the app:
 * colors, font sizes, and breakpoint. These variables allow for 
 * consistent design and easy adjustments across the app, making it more 
 * maintainable and adaptable to different screen sizes.
 * 
 * @namespace Variables
 */

 :root {
    --color-primary: #FF0000;
    --color-secondary: #282D30;
    --color-tertiary: #FFFFFF;
  }


// Breakpoints
$breakpoint-mobile: 640px;

// SCSS Variables
$primaryColor: var(--color-primary);
$secondaryColor: var(--color-secondary);
$tertiaryColor: var(--color-tertiary);

$background-color: #ffffff; // Background color of the app
$text-color: #282D30; // Default text color
// $highlight-color: #FFFFFF; // Highlight color for emphasized text
// $highlight-background: $primary-color; // Background color for highlighted elements

// Font Sizes
$font-size-x-small: 0.65rem; // Extra small font size
$font-size-small: 0.85rem; // Small font size
$font-size-medium: 1rem; // Medium font size (default)
$font-size-large: 1.5rem; // Large font size
$font-size-x-large: 2.1rem; // Extra large font size

$font-weight-regular: 400; // Medium font weight
$font-weight-bold: 700; // Bold font weight

$chart-border-radius: 6px;