// src/components/Header/Header.module.scss
@use "@/styles/variables.scss" as variables;

.header {
    background-color: var(--color-secondary);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.logo {
    width: 120px;
    margin-right: 8%;
}

.nav {
    width: 80%;

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
    }

    a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #ddd;
            text-decoration: underline;
        }
    }
}
