// src/components/MainContent/UserCharts/ActivityChart/ActivityChart.module.scss
@use "@/styles/variables.scss" as variables;

.container {
  margin : 0px 0px 0px 0px;
  position: relative;
  background-color: variables.$tertiaryColor;
}

.titleContainer {
  position: absolute;
  top: -45px;
  left: 10px;
}
