// src/components/MainContent/UserCharts/ActivityChart/ActivityChart.module.scss
@use "@/styles/variables.scss" as variables;

.container {
  margin : 0px 0px 0px 0px;
  padding: 50px 10px 5px 10px;
  position: relative;
  background-color: variables.$tertiaryColor;
}

.titleContainer {
  position: absolute;
  top: 5px;
  left: 20px;
}
