/* ErrorPage.module.scss */
@use '../../styles/variables.scss' as variables;

.errorPage {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
  
    &__title {
      font-size: variables.$font-size-x-large;
      color: var(--color-primary);
      margin: 0;
    }
  
    &__message {
      font-size: variables.$font-size-medium;
      margin-bottom: 20px;
      color: var(--color-secondary);
    }
  
    &__link {
      font-size: variables.$font-size-medium;
      text-decoration: none;
    }
  }
  