// MainContent.module.scss
@use "@/styles/variables.scss" as variables;

.mainContentContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0; // This sets top: 0, right: 0, bottom: 0, left: 0
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.spinner {
  width: 160px;
  height: 160px;
  border: 16px solid rgba(255, 0, 0, 0.1);
  border-left-color: variables.$primaryColor;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.content {
  flex: 1;
  margin: 0 auto;
  padding: 20px 60px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 40px;
}

.mainTitle {
  font-size: variables.$font-size-x-large;
  margin-bottom: 0px;
  &__name {
    color: variables.$primaryColor;
  }
  &__subtitle {
    color: variables.$secondaryColor;
    font-size: variables.$font-size-medium;
  }
}

.dataDisplay {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  max-width: 930px;
  width: 100%;
  min-width: 680px;
}

.charts {
  flex: 1; // Added to allow charts to grow and shrink properly
  // min-width: 550px; // NOTE: value set in JSX
}

.rightBar {
  //flex-shrink: 0; // Prevent sidebar from shrinking
  //height: 100%;
}